* {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    background-color: var(--bgcolor);
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

#container {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

#header {
    background-color: var(--hdcolor);
    text-align: center;
    height: 12vh;
    grid-column-start: 1;
    grid-column-end: 3;
}

#content {
    background-color: var(--ctcolor);
    text-align: left;
    height: 81.5vh;
    grid-column-start: 2;
    grid-column-end: 3;
}

#menu {
    background-color: var(--mncolor);
    grid-row-start: 2;
    grid-row-end: 3;
}

#footer {
    background-color: var(--hdcolor);
    text-align: center;
    align: center;
    font-size: 0.75em;
    height: 4vh;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

div:not(#container)>* {
    padding: 1vh;
}