* {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    background-color: black;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#container {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

#header {
    background-color: red;
    text-align: center;
    height: 20vh;
    grid-column-start: 1;
    grid-column-end: 3;
}

#content {
    background-color: blue;
    text-align: left;
    height: 70vh;
    grid-column-start: 2;
    grid-column-end: 3;
}

#menu {
    background-color: fuchsia;
    grid-row-start: 2;
    grid-row-end: 3;
}

#footer {
    background-color: yellowgreen;
    text-align: center;
    align: center;
    height: 8vh;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

div:not(#container) > * {
    padding: 1vh;
}